<!-- 
  ok so to start with we will be designing the page here will all the respective CSS and the animation functionality

  then split it up into multiple components as an when the application comes into its own
  ok first things first we will need a nav bar
  lets see how we do it.
 -->
<div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center stretch">
  <mat-toolbar>
    <mat-toolbar-row
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20"
      color="primary"
    >
      <div>
        <span>Zolo-Blog</span>
      </div>
      <div>
        <button color="accent" mat-raised-button>Login</button>
      </div>
    </mat-toolbar-row>
    <!-- I am Going to enable this only when necessary -->
    <!-- <mat-toolbar-row fxLayout="row" fxLayoutAlign="center stretch">
      <mat-tab-group>
        <mat-tab label="Home"></mat-tab>
        <mat-tab label="Blog Posts"></mat-tab>
        <mat-tab label="About"></mat-tab>
      </mat-tab-group>
    </mat-toolbar-row> -->
  </mat-toolbar>
  <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="space-around stretch">
    <div
      fxFlex="60"
      fxLayoutGap="5"
      fxLayout="column"
      fxLayoutAlign="center stretch"
    >
      <mat-card fxLayout="column" fxLayoutAlign="stretch stretch">
        <mat-card-header>
          <mat-card-title>Post 1</mat-card-title>
          <mat-card-subtitle>Subject Data</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          this is a content and context that needs to be styled
        </mat-card-content>
      </mat-card>
      <mat-card fxLayout="column" fxLayoutAlign="stretch stretch">
        <mat-card-header>
          <mat-card-title>Post 2</mat-card-title>
          <mat-card-subtitle>Subject Data for post 2</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          this is a content and context that needs to be styled and changed
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="35" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Zolo1917</mat-card-title>
          <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content align="start">
          I am an learning developer and would be documenting my learning
          process on to this site
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Action1</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
