<!-- <blog-app-nx-welcome></blog-app-nx-welcome> -->

<header>
    <mat-toolbar color="primary">        
            <mat-toolbar-row fxlayout="row" fxLayoutAlign="space-between center">
                <div dir="ltr" fxFlex="20%">
                    Zolo1917
                </div>
                <div fxFlex="50%">
                    <!-- Create the search bar -->
                    <form id="seachForm" action="submit">
                        <mat-form-field class="fullwidth">
                            <input matInput placeholder="Search"/>
                            <button mat-icon-button >
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </div>
                <div fxFlex dir="rtl">
                    <button mat-button (click)="login()">Login</button>
                    <button mat-button (click)="signUp()">Sign Up</button>
                </div>
            </mat-toolbar-row>
    </mat-toolbar>
</header>
<br>
<body>
    <div fxLayout="row" fxLayoutGap="10px"fxLayoutAlign="space-around start">
        <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
            <blog-app-create-edit-posts></blog-app-create-edit-posts>
            <div fxLayout="column" fxLayoutGap="5px">
                <mat-card *ngFor="let item of posts">
                    <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
                        <div>
                            <mat-card-title>{{ item.title }}</mat-card-title>
                        </div>
                        <div>
                            <button mat-raised-button color="basic">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>
                        </div>
                    </mat-card-header>
                    <mat-card-subtitle>
                        channelName
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{ item.textContent }}
                    </mat-card-content>     
                    <!-- <mat-card-footer>
                        Footer
                    </mat-card-footer> -->
                </mat-card>
                <mat-divider></mat-divider>
            </div>
        </div>

        <div fxFlex>
            <mat-card class="fullwidth">
                <mat-card-header>
                    <mat-card-title>Channels</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li *ngFor="let channel of channels">
                            {{ channel.channelName }}
                        </li>
                    </ul>
                </mat-card-content>
                <!-- <mat-card-actions align="start">
                    <button mat-raised-button >Action1</button>
                </mat-card-actions> -->
                <mat-card-actions>
                    <button mat-raised-button>
                        <mat-icon class="mat-18">add</mat-icon>
                    </button>
                </mat-card-actions>   
            </mat-card>
        </div>
    </div>  
</body>
